[Unit]
Description=PMR instance (tarmac lander for git branches)

[Service]
ExecStart=/home/ubuntu/pmr/process-merge-requests plainbox-provider-certification-server plainbox-provider-certification-client 
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
